@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");

:root {
  --nav-btn-bgcolor: #13424e;
}

.navbar {
  background-color: var(--primary-blur-bgcolor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px var(--default-padding);
  gap: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.navbar:not(.invisible) {
  backdrop-filter: blur(5px);
}

.navbar__logo {
  width: 60px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.8rem;
  overflow: auto;
}

.navbar__menu::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 720px) {
  .navbar__menu {
    padding-left: 245px;
    padding-right: 90px;
  }
}

.navbar__menu > .toggle-mode-btn {
  background-color: transparent;
  color: var(--text-color);
  width: 50px;
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.2rem;
}

.navbar__item > a {
  display: block;
  padding: 0.5rem 1rem;
  background-color: var(--nav-btn-bgcolor);
  color: var(--text-color);
  border-radius: 1rem;
  width: 100%;
  font-size: 14pt;
}

.navbar.invisible {
  background-color: transparent;
}

.navbar.invisible .navbar__item > a {
  background-color: transparent;
}

/* BANNER */
.banner {
  width: 100%;
  height: 100vh;
  background: radial-gradient(#00000081, #000000bd),
    url("../assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 var(--default-padding);
  text-align: center;
  color: var(--text-color);
}

.banner__title {
  font-size: 3rem;
  letter-spacing: 2px;
  font-family: "Alkatra", cursive, "Montserrat";
}

.banner > p {
  font-size: 13pt;
  max-width: 700px;
}

.banner__btn {
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  font-weight: 600;
}

.banner__btn:hover {
  color: var(--primary-color);
  background-color: var(--text-color);
}

/* MAIN */
.main__card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.main__card {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 200px;
  padding: 2.5rem 1rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: 800;
  border: 1px solid var(--primary-shadow-color);
  border-radius: 5px;
  /* box-shadow: 0 0 8px #0000005b; */
  text-align: center;
}

.main__card:hover {
  box-shadow: 0 0 8px var(--primary-shadow-color);
}

.main__card > .fa_icon {
  font-size: 50px;
}

.main__card > p {
  font-size: 18pt;
  color: var(--secondary-text);
}

/* BLOG */
.blog {
  color: var(--text-color);
  background-color: var(--nav-btn-bgcolor);
}

.blog__title {
  color: var(--text-color);
}

.blog__title-line {
  border: 4px solid var(--text-color);
}

.blog__card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  position: relative;
}

.blog__card-container > .small {
  color: var(--text-color);
  font-size: 12pt;
  bottom: -35px;
}

.blog__card {
  background-color: var(--secondary-color);
  color: var(--primary-text);
  font-size: 12pt;
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 200px;
  align-items: cente0000005br;
  justify-content: center;
  gap: 1rem;
  border: 1px solid var(--primary-shadow-color);
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
}

.blog__card:hover {
  transform: scale(1.01);
}

.blog__btn {
  padding: 0.5rem 1rem;
  width: fit-content;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-weight: 600;
  margin: auto;
}

.blog__btn:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.blog__img-wrapper {
  width: 100%;
  height: 150px;
}

.blog__card:hover > .blog__img-wrapper {
  background-size: 110%;
}

.blog__body {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* DOCUMENTS */
.documents__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.documents__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--primary-shadow-color);
  font-size: 15pt;
  padding: 1.5rem 2rem;
  gap: 10px;
  max-width: 700px;
  width: 100%;
  margin: auto;
  color: var(--secondary-text);
}

.documents__btn:hover {
  box-shadow: 0 0 6px var(--primary-shadow-color);
}

.documents__btn:active {
  transform: scale(1.02);
}

.documents__caption {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* ARROW UP */
.arrow-up-btn {
  background-color: var(--primary-shadow-color);
  color: var(--text-color);
  text-align: center;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: sticky;
  right: 20px;
  bottom: 20px;
  opacity: 1;
  cursor: pointer;
  transition: 0.4s ease opacity;
}

/* CONTACT */
.contact {
  background-color: rgb(17, 17, 17);
  font-size: 12pt;
  padding-bottom: 130px;
}

.contact * {
  color: var(--text-color);
}

.contact__title {
  color: var(--text-color);
}

.contact__title-line {
  border: 4px solid var(--text-color);
}

.contact__address-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
}

.contact__address-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 250px;
  font-size: 13pt;
  text-align: left;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact__form * {
  color: black;
  font-size: 13pt;
  padding: 5px 10px;
}

.form__btn:hover {
  background-color: var(--primary-blur-bgcolor);
  color: var(--text-color);
}

.contact__social-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
